.form {
  font-family: inherit;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}

@media screen and (max-width: 619px) {
  .form {
    width: 282px;
    height: 322px;
  }
}
