.profile__info {
  display: grid;
  grid-template-columns: max-content, 1fr;
  align-self: center;
  grid-gap: 16px 18px;
  grid-template-areas:
    "title edit-button"
    "subtitle .";
}

@media screen and (max-width: 767px) {
  .profile__info {
    grid-gap: 5px 10px;
    padding-left: 39px;
  }
}
