.header {
  padding-top: 45px;
  border-bottom: 1px solid rgba(33%, 33%, 33%, .7);
}

@media screen and (max-width:1023px) {
  .header {
    max-width: calc(100% - 23.82vw);
  }
}

@media screen and (max-width: 980px) {
  .header {
    max-width: calc(100% - 11.91vw);
  }
}

@media screen and (max-width: 767px) {
  .header {
  padding-top: 28px;
  max-width: 100%;
  }
}
