.button {
  box-sizing: border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  opacity: 0.6;
}
